:root {
	--black100: rgba(12, 12, 12, 1);
    --black80: rgba(0, 0, 0, .8);
    --black40: rgba(0, 0, 0, .4);
    --black10: rgba(0, 0, 0, .1);
    --gray80: rgba(235, 235, 235, .8);
    --gray40: rgba(235, 235, 235, .4);
    --white:  rgba(255, 255, 255, 1);
}

* {
	margin: 0;
}

html {
    font:  18px/24px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    color: var(--black80);
}

main {
    display: block;
}

h1, h2, h3, h4 {
    margin: .9rem 0;
}

.page-title {
	font-size: 2.5rem;
	font-weight: 800;
	text-transform: uppercase;
}

.page-text {
	max-width: 580px;
	line-height: 1.8rem;
	margin: 0 auto;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}   

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit; 
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select { 
    text-transform: none;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit; 
}

.navbar {
	position: relative;
	background-color: var(--black100);
	color: var(--white);
	clip-path: polygon(50% 70%, 100% 35%, 100% 0, 0 0, 0 35%);
	z-index: 1;
}

.container {
	margin: 0 auto;
	max-width: 980px;
	text-align: center;
}

.header-links{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	justify-content: center;
	list-style-type: none;
	padding: 32px 0 0;
	height: 180px;
}

.header-links li {
	justify-self: center;
}

.header-links a {
	color: var(--white);
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.header-links a:hover {
	text-decoration: underline;
}

.logotipo {
	width: 120px;
	position: absolute;
	left: 50%;
	top: 32px;
	transform: translate(-50%, 0);
	z-index: 5;
}

.hero {
	padding: 4rem 0 5rem;
}

.hero-img {
	height: 450px;
}

.hero-img img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	border-radius: 16px;
	filter: grayscale(90%);
}

.carousel {
	width: 100%;
	height: 480px;
	background-color: #9e9e9e;
	border-radius: 16px;
	margin: 2rem 0 6rem;
}

.anuncio-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 4rem;
}

.anuncio-item {
	display: grid;
	align-content: center;
    justify-content: center;
	height: 170px;
	border: 1px solid var(--black40);
	border-radius: 8px;
}

.noticias {
	margin: 8rem 0;
	padding: 6rem 0;
	height: 620px;
	background-color: #f3f3f3;
}

.latest-news {
	display: grid;
	grid-template-columns: repeat(4, 190px);
	justify-content: space-evenly;
	margin: 3rem 0;
}

.noticia-card * {
	text-decoration: none;
	color: var(--black80);

}

.card-header {
	width: 190px;
	height: 190px;
}

.card-img {
	width: 100%;
	height: 100%;
	background-color: #d9d9d9;
}

.card-info {
	display: flex;
	flex-direction: column;
	text-align: left;
	background-color: var(--white);
	border: 1px solid #ececec;
	border-radius: 0 0 8px 8px;
	padding: 20px 16px;
}

.publish-date {
	font-size: 0.8rem;
}

.card-info .title {
	font-size: 0.9rem;
	font-weight: 700;
	height: 35px;
}

.btn {
	align-self: center;
}

.btn-primary {
	width: 140px;
	padding: 12px 16px;
	border: 1px solid #ececec;
	border-radius: 4px;
	font-size: 0.9rem;
	background-color: var(--white);
	color: #eeb013;
	cursor: pointer;
}

.btn-big {
	width: 280px;
	padding: 20px 32px;
	font-size: 1rem;
}

.social {
	margin: 6rem 0 5rem;
}

.social-links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3rem 5rem;
	padding-top: 4rem;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #d5d5d5;
	border-radius: 8px;
	box-shadow: 1px 2px 4px var(--black10);
	padding: 1.5rem 2.5rem;
	font-size: 1.3rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--black80);
}

.social-link::before {
	height: 32px;
	padding-right: 16px;
}

.social-link:nth-child(1)::before {
	content: url(/twitter.svg);
}
.social-link:nth-child(2)::before {
	content: url(/instagram.svg);
}
.social-link:nth-child(3)::before {
	content: url(/facebook.svg);
}
.social-link:nth-child(4)::before {
	content: url(/youtube.svg);
}

.footer {
	background-color: #000;
	color: var(--white);
	clip-path: polygon(50% 25%, 100% 0%, 100% 100%, 0 100%, 0% 0%);
	padding-top: 6rem;

}

.footer-content {
	padding: 32px 0 48px;
}

.footer-img {
	width: 120px;
}

.footer-content h4 {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 28px;
}

.footer-content p {
	font-size: 12px;
	font-weight: 300;
}