---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - 
new Date(a.frontmatter.publishDate).valueOf());
---

<html lang="pt-br">
	<head>
		<BaseHead />
	</head>

	<body>
		<Header />
		<div class="hero">
			<div class="container">
				<div class="hero-img">
					<img src="/hero02.jpg" alt="Imagem da torcida">
				</div>
			</div>
		</div>
		<div class="lojinha">
			<div class="container">
				<h2 class="page-title">Loja virtual</h2>
				<p class="page-text">Fique por dentro dos últimos lançamentos e conheça os produtos 
					exclusivos da nova loja virtual dos Gaviões.
				</p>
				<div class="carousel"></div>
			</div>
		</div>
		<div class="ads">
			<div class="container">
				<div class="anuncio-row">
					<div class="anuncio-item">
						<img src="/anuncio01.png" alt="">
					</div>
					<div class="anuncio-item">
						<img src="/anuncio02.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<section class="noticias">
			<div class="container">
				<h2 class="page-title">Notícias</h2>
				<p class="page-text">Últimas notícias e comunicados para a Fiel Torcida.</p>
				<div class="latest-news">
					{allPosts.slice(0, 4).map((post) => <BlogPostPreview post={post} />)}
				</div>
				<a href="/noticias" class="btn">
					<button class="btn-primary btn-big">Todas as notícias</button>
				</a>
			</div>
		</section>

		<section class="ads">
			<div class="container">
				<div class="anuncio-row">
					<div class="anuncio-item">
						<img src="/anuncio03.png" alt="">
					</div>
					<div class="anuncio-item">
						<img src="/anuncio04.png" alt="">
					</div>
				</div>
			</div>
		</section>

		<section class="social">
			<div class="container">
				<h2 class="page-title">Redes sociais</h2>
				<p class="page-text">
					Siga os Gaviões da Fiel nas redes sociais e fique por dentro 
					de tudo que acontece na maior torcida organizada do mundo.
				</p>
				<div class="social-links">
					<a href="" class="social-link" target="_blank">@gavioesoficial</a>
					<a href="" class="social-link" target="_blank">@gavioesoficial</a>
					<a href="" class="social-link" target="_blank">@gavioesoficial</a>
					<a href="" class="social-link" target="_blank">@gavioesoficial</a>
				</div>
			</div>
		</section>
		<Footer />
	</body>
</html>