---
import '../styles/main.css';
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="msapplication-tap-highlight" content="no" />

<!-- Primary Meta Tags -->
<title>Gaviões da Fiel</title>
<meta name="title" content="Gaviões da Fiel"/>
<meta name="description" content="Gaviões da Fiel Torcida"/>
<meta name="author" content="Rodrigo Lima" />
<meta name="theme-color" content="#4A5361">

<!-- Favicon -->
<link rel="icon" type="image/x-icon" sizes="16x16" href="" />
<link rel="icon" type="image/x-icon" sizes="32x32" href="" />
<!-- iPhone Plus Retina-->
<link rel="apple-touch-icon" sizes="180x180" href="" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes" />
<meta name="application-name" content="Gaviões da Fiel Torcida" />

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="Gaviões da Fiel" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://gavioes.com.br"/>
<meta property="og:title" content= "Gaviões da Fiel"/>
<meta property="og:description" content="Gaviões da Fiel Torcida"/>
<meta property="og:image" content="https://astro.build/social.png?v=1" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://gavioes.com.br"/>
<meta property="twitter:title" content= "Gaviões da Fiel"/>
<meta property="twitter:description" content="Gaviões da Fiel Torcida"/>
<meta property="twitter:image" content="https://astro.build/social.png?v=1" />