---
const today = new Date();
---

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <img class="footer-img" src="/gavioes-logo.png" alt="Logotipo dos gaviões da fiel com o gavião voador">
            <h4>Nossa corrente é forte e jamais se quebrará</h4>
            <p>&copy; 1969 - {today.getFullYear()} Todos os direitos reservados.</p>
        </div>
    </div>
</footer>