<nav class="navbar">
	<div class="container">
		<ul class="header-links">
			<li>
				<a href="/">Gaviões da Fiel</a>
			</li>
			<li>
				<a href="/torcida">Torcida</a>
			</li>
			<li>
				<a href="">Carnaval</a>
			</li>
			<span class="logo-space"></span>
			<li>
				<a href="">Notícias</a>
			</li>
			<li>
				<a href="">Loja</a>
			</li>
			<li>
				<a href="">Contato</a>
			</li>
		</ul>
	</div>
</nav>
<img class="logotipo" src="/public/logotipo.png" alt="">